@using Gestion.Core.Entities
@model CompraPaginadoVM

@{
    ViewData["Title"] = "Lista de Compras";
}

<h1>Lista de Compras</h1>

<p>
   @*  Esto apunta al Controlador de la vista que es CompraController *@
    <a asp-action="AgregarCompra" class="btn btn-primary">Agregar Compra</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                CompraId
            </th>
            <th>
               Fecha
            </th>
            <th>
                Producto
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Usuario
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @item.CompraId
            </td>
            <td>
                @item.Fecha.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.Producto.Nombre
            </td>
            <td>
                @item.Cantidad
            </td>
            <td>
                @item.Usuario.Nombre
            </td>
        
        </tr>
}
    </tbody>
</table>

<div>
    Página @Model.NumeroPagina de @Model.TotalPaginas

    @* Si el num de paginas es mayor a 1 se muestra el boton Anterior *@
    @if (Model.NumeroPagina > 1)
    {
        <a asp-action="Index" asp-route-numeroPagina="@(Model.NumeroPagina - 1)" asp-route-tamanoPagina="@Model.TamanoPagina">Anterior</a>
    }

    @* Si el num de paginas es menor al Total de paginas se muestra el boton Siguiente *@
    @if (Model.NumeroPagina < Model.TotalPaginas)
    {
        <a asp-action="Index" asp-route-numeroPagina="@(Model.NumeroPagina + 1)" asp-route-tamanoPagina="@Model.TamanoPagina">Siguiente</a>
    }
</div>
